<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./index.css">

</head>
<body>
<div class="App">
    <div class="title"><span></span></div>
    <hr />
    <div class="columns">
        <div class="item_column">
            <div class="time">Ночью</div>
            <div class="type_image_weather"><img src="undefined" alt="none" /></div>
            <div class="temperature"><span></span>&deg;</div>
            <div class="type_text_weather"><span></span></div>
            <div class="pressure"><img src="/images/барометр.png" alt="" /><span></span> мм</div>
            <div class="humidity"><img src="/images/влажность.png" alt="" /><span></span>%</div>
            <div class="wind_speed"><img src="/images/ветер.png" alt="" /><span></span> м/c</div>
        </div>
        <div class="item_column">
            <div class="time">Утром</div>
            <div class="type_image_weather"><img src="undefined" alt="none" /></div>
            <div class="temperature"><span></span>&deg;</div>
            <div class="type_text_weather"><span></span></div>
            <div class="pressure"><img src="/images/барометр.png" alt="" /><span></span> мм</div>
            <div class="humidity"><img src="/images/влажность.png" alt="" /><span></span>%</div>
            <div class="wind_speed"><img src="/images/ветер.png" alt="" /><span></span> м/c</div>
        </div>
        <div class="item_column">
            <div class="time">Днём</div>
            <div class="type_image_weather"><img src="undefined" alt="none" /></div>
            <div class="temperature"><span></span>&deg;</div>
            <div class="type_text_weather"><span></span></div>
            <div class="pressure"><img src="/images/барометр.png" alt="" /><span></span> мм</div>
            <div class="humidity"><img src="/images/влажность.png" alt="" /><span></span>%</div>
            <div class="wind_speed"><img src="/images/ветер.png" alt="" /><span></span> м/c</div>
        </div>
        <div class="item_column">
            <div class="time">Вечером</div>
            <div class="type_image_weather"><img src="undefined" alt="none" /></div>
            <div class="temperature"><span></span>&deg;</div>
            <div class="type_text_weather"><span></span></div>
            <div class="pressure"><img src="/images/барометр.png" alt="" /><span></span> мм</div>
            <div class="humidity"><img src="/images/влажность.png" alt="" /><span></span>%</div>
            <div class="wind_speed"><img src="/images/ветер.png" alt="" /><span></span> м/c</div>
        </div>
    </div>
</div>
</body>
</html>
